.flex-child {
 display: flex;
 flex-direction: column;
 font-size: 10rem;


.flexxx {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  border: 5px solid black;
  padding: 5px;
  margin: 5px;
}
}

.img1 {
  height: 100rem;
}

a {
  text-decoration: none;
  background: greenyellow;
  padding:10px;
  color:black;
  border-radius:2rem;
  font-size: 20rem;
}

.img1:hover {
  transform: scale(2);
  outline: 2rem solid burlywood;
  z-index: 2;
  transition: all 0.5s;
  outline-offset: 1rem;
  }

  