header {
    height: fit-content;
    text-transform: uppercase;
    font-size: 6rem;
    border: 5px solid black;
    background-color: crimson;
    color: gainsboro;
  }

  .foods {
    height: 70rem;
  }

