.food-parent {
    margin: 0 auto;
    height: 30rem;
    width: 40rem;
    }

.food-gallery {
    position: relative;
    height: 50rem;
    }

.food{
    height: 25rem;
    position: absolute;
    transition: all 0.3s;
    outline-offset: 1rem;
    }

.banana {
    top: 20rem;
    left: 20rem;
    z-index: 4;
    }

.ramen {
    top: 10rem;
    right: 10rem;
    z-index: 3;
    }

.pickle {
    top: 30rem;
    left: 0;
    z-index: 5;
    }

.food:hover {
    transform: scale(1.3);
    outline: 1rem solid yellowgreen;
    z-index: 2;
    }

.food-gallery:hover .food:not(:hover) {
    transform: scale(0.9);
    opacity: 0.3;
}
header:hover {
    transform: scaleX(2);
    background-color: indigo;
    text-transform: lowercase;
}

.lol:hover{
    transition: all 1s;
    transform: rotate(1080deg);
}

h1:hover{
    color: black;
}

.choose:hover{
    transform: scale(3);
    transition: all .5s;
    color: skyblue;
    outline: 1rem solid saddlebrown;
    background-color: black;
}

.cream {
    height: 35rem;
    right: 10rem;
}

.cream:hover{
    transform: scale(6) translate(100%);
    transition: all .4s;
}

.ice:hover{
    transform: scale(3) skew(30deg, 20deg);
    transition: all .3s;
}