@import "./_header.scss";
@import "./_hover.scss";
@import "./_flex.scss";

html{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    background: orange;
    text-align: center;
}

div {
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;    
  }
  
  @keyframes example {
    0%  {left:200px;}
    50%  {left:-200px;}
    100%  {left:200px;}
}